{% extends "base.html" %}

{% block main %}
    <div class="detail_main">
        <h3>なまえとパスワードを入力してね！</h3>
        <form action="/login" method="post">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="なまえ" type="text" value="{{ username }}">
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="パスワード" type="password">
            </div>
            <button class="btn_form" type="submit">ログイン</button>
        </form>
    </div>
    <h4 class="logregi">初めての方は<a href="/register">コチラ</a></h4>
{% endblock %}
